<div>
  <h2 id="page-heading" data-cy="RemarkHeading">
    <span jhiTranslate="vibmpfApp.remark.home.title">Remarks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vibmpfApp.remark.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-remark"
        [routerLink]="['/remark/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vibmpfApp.remark.home.createLabel"> Create a new Remark </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="remarks?.length === 0">
    <span jhiTranslate="vibmpfApp.remark.home.notFound">No Remarks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="remarks && remarks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="message">
            <div class="d-flex">
              <span jhiTranslate="vibmpfApp.remark.message">Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="vibmpfApp.remark.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atsApplication.id">
            <div class="d-flex">
              <span jhiTranslate="vibmpfApp.remark.atsApplication">Ats Application</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyUser.id">
            <div class="d-flex">
              <span jhiTranslate="vibmpfApp.remark.companyUser">Company User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="candidate.id">
            <div class="d-flex">
              <span jhiTranslate="vibmpfApp.remark.candidate">Candidate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remark of remarks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/remark', remark.id, 'view']">{{ remark.id }}</a>
          </td>
          <td>{{ remark.message }}</td>
          <td>{{ remark.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="remark.atsApplication">
              <a [routerLink]="['/ats-application', remark.atsApplication.id, 'view']">{{ remark.atsApplication.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remark.companyUser">
              <a [routerLink]="['/company-user', remark.companyUser.id, 'view']">{{ remark.companyUser.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remark.candidate">
              <a [routerLink]="['/candidate', remark.candidate.id, 'view']">{{ remark.candidate.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/remark', remark.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/remark', remark.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(remark)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
